.loginScreen {
    height: 100%;
    background-image: url('../../assets/imgs/bank_home_bg.jpg');
    background-repeat: repeat-y;
    background-size: cover;
}

.loginForm {
    margin-top: 20vh;
    text-align: center;
    background: #dbe7f1;
    color: #000000;
    height: auto;
}

.bottom-form {
    margin-bottom: 5px;
}
